- content_for :content_top do
  %h1 Change My Password

- clever_form_for :user, :url => password_resets_path, :method => :put do |f|
  = f.password_field :password
  = f.password_field :password_confirmation

  = f.submit "Update my password"