- content_for :content_top do
  %h1 Forgot Password

- form_tag password_resets_path do
  .form_text_field
    .label
      = label :email, "Fill out the form below and instructions to reset your password will be emailed to you:"
    .input
      = text_field_tag :email
  = submit_tag "Reset my password"
