- breadcrumbs(link_to(@parent_object.class.to_s, sites_path), link_to(truncate(@parent_object.to_s, :length => 50), @parent_object), 'Results')
- content_for :content_top do
  %h1 Results

- if @results.any?
  %ul= render @results
  = will_paginate @results
- else
  %p.empty
    No results can be found!

