- content_for :content_top do
  %h1= t('pages.about.title')

%p
  Last Percent is a web service for making sure your website follows the web standards laid out by W3C and other web bodies. We will scan your site then provide you with the results in an easy to follow format, so you can get back to coding features, rather than fixing validation problems. 
%p 
  We know making sure sites are valid, and remain valid, can be time consuming. So we have aimed to make it as simple and as quick as possible. We are web developers ourselves, and so the system has been designed with developers in mind, we are going to use the system to make sure our clients sites are valid and we think you should too!
