- breadcrumbs(link_to('Sites', sites_path), link_to(html_escape(@site), @site), 'Edit')
- content_for :content_top do
  %h1
    Editing
    =h @site

- clever_form_for @site do |form|
  = render :partial => 'form', :locals => {:form => form}
  = form.submit