- breadcrumbs('Sites')
- content_for :content_top do
  %h1 Sites

%p.intro= t('site.index.intro')

%ul.list= render @sites
= will_paginate @sites

%p= link_to "New Site", new_site_path, :class => 'button'