- breadcrumbs(link_to('Sites', sites_path), 'New Site')
- content_for :content_top do
  %h1 New Site

- clever_form_for @site do |form|
  = render :partial => 'form', :locals => {:form => form}
  = form.submit