- content_for :content_top do
  %h1= @site
%p
  = link_to pluralize(@site.assets.count, 'asset'), site_assets_path(@site)
  ,
  = link_to pluralize(@site.results.count, 'results'), site_results_path(@site)